<div class="row">
  <div class="col-md-6 col-md-push-6">
    <h4>Active VUs <small>{{#if application.running}}<a href="#">click to scale</a>{{else}}<span class="text-muted">test ended</span>{{/if}}</small></h4>
    <div class="progress">
      <div class="progress-bar" role="progressbar" arial-valuenow="{{vusActive}}" aria-valuemin="0" aria-valuemax="{{vusMax}}" style="width: {{vusPercent}}%; white-space: nowrap;"><span style="padding-left: 15px;">{{vusLabel}}</span></div>
    </div>

    <ul class="list-group">
      {{#each model.metrics as |metric|}}
      <li class="list-group-item metrics clearfix">
        <span class="name">{{metric.id}}</span>
        <span class="results pull-right">
          {{#each-in metric.sample as |key value| }}
          <span class="key">{{key}}=</span><span class="value">{{metric-format value metric.contains}}</span>
          {{/each-in}}
        </span>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="col-md-6 col-md-pull-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Group 1
          <span class="pull-right results"><span class="key">count=</span><span class="value">550</span></span>
        </h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="name">Test 1</span>
          <span class="results pull-right">
            <span class="key">pass=</span><span class="value text-success">500</span>
            <span class="key">fail=</span><span class="value text-danger">50</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
